{% extends 'base.html' %}
{% block content %}

<head>
    <link rel="stylesheet" href='../static/index.css'/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
</head>

<body>
    <div class="slide-container">
        <div class="slide">
            <div class="memory">
                <h1>Memory ['mɛmɚɹi]</h1>
                <p>A memory to me is something that you want to remember and cherish for the rest of your life; a recollection; an echo.</p>
            </div>
        </div>
        <div class="gallery-slide">
            <img src="#" alt="Your Image">
        </div>
    </div>
</body>


{% endblock %}